* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: ;
    color: ;
}


/*layout*/
.romeritoo {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 230px;
    background-color: ;
    padding: 20px;
}

.logo {
    margin-bottom: 26px;
    font-size: 23px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.menu a {
    color: ;
    text-decoration: none;
}

.menu a.active,
.menu a:hover {
    color: ;
}

.web {
    flex: 1;
    padding: 30px;
}

.topo {
    margin-bottom: 21px;
}

.nataniell {
    display: flex;
    gap: 21px;
    margin-bottom: 40px;
}

.nataniel {
    flex: 1;
    padding: 25px;
    border-radius: 13px;
    font-weight: bold;
}

/*cores*/
.curtidas { background: linear-gradient();}
.brasil {background: linear-gradient();}
.mpb {background: linear-gradient();}
.internacional {background: linear-gradient();}

.sofia {
    margin-bottom: 40px;
}

.sofia h3 {
    margin-bottom: 15px;
}

.cardss {
    display: flex;
    gap: 20px;
}

.card {
    background-color: ;
    border-radius: 13px;
    padding: 15px;
    flex: 1;
}

card img {
    width: 100%;
    border-radius: 10px;
}

.card span {
    display: block;
    margin-top: 10px;
}

.footer {
    margin-top: 50px;
    padding: 20px;
    background-color: ;
    border-top: 1px solid ;
}

.footer-sonar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer p {
    color: ;
    font-size: 15px;
}
